@import url(https://fonts.googleapis.com/css?family=Pacifico);
body {
  overflow-x:hidden;
  padding: 0 100px 100px;
  background-color: rgb(47, 51, 54) !important;
  /*background-color: rgb(55, 58, 61) !important;*/
}

h1#header {
  text-align: center;
  padding: 0px 0px 0px 0px;
  font-size: 62px;
  font-family: "Pacifico";
  color: #eee;
  text-shadow: 0 4px 4px #3c77b3;
}

button {
    display: inline-block;
    padding: 15px 15px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #3c77b3;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 0.5em 0.5em 0.5em 0.5em;
    font-family: "Pacifico";
  }
  
  button:hover {background-color: #2c67a3}
  
  #code{
    display: block;
  }

  #parts {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #part{
    flex: 1;
    padding: 10px;
    display: block;
  }

  button:active {
    background-color: #3c77b3;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  h2 {
    text-align: center;
    padding: 0px 0px 0px 0px;
    font-size: 32px;
    font-family: "Pacifico";
    color: #eee;
    text-shadow: 0 4px 4px #3c77b3;
  }
  
  textarea {
    width: 100%;
    height: 20em;
    resize: none;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 3px#3c77b3;
  }

  #partRun{
    font-size: 20px;
    font-family: "Pacifico";
    color: #eee;
    text-shadow: 0 4px 4px #3c77b3;
  }

  #desc{
    text-align: justify;
    border-radius: 25px;
    padding: 1em;
    background:#fff;
  }